<template>
  <section>
    <div v-if="! series.length">
      <no-serie-disclaimer />
    </div>

    <div v-else-if="! seriesToWatch.length">
      <no-serie-to-watch-disclaimer />
    </div>

    <div v-else class="result">
      <div class="result__action">
        <button @click="chooseRandomSerie">
          Je vais regarder quoi ce soir ?
        </button>
      </div>
      <serie-display
        v-if="randomSerie"
        :serie="randomSerie"
        :show-summary="isFinal"
        class="result__serie"
      />
    </div>
  </section>
</template>

<script setup>
import NoSerieDisclaimer from "@/components/NoSerieDisclaimer.vue";
import NoSerieToWatchDisclaimer from "@/components/NoSerieToWatchDisclaimer.vue";
import SerieDisplay from "@/components/SerieDisplay.vue";
import { useSeriesStore } from "@/stores/series";
import { ref } from "vue";

const { series, seriesToWatch } = useSeriesStore();

/**
 * Selection aléatoire
 */
const randomSerie = ref(null);
const isFinal = ref(false);
const chooseRandomSerie = () => {
  const ANIMATION_DURATION = 3000;

  let interval = 100;
  let intervalId;

  const changeSerie = () => {
    const randomIndex = Math.floor(Math.random() * seriesToWatch.length);
    randomSerie.value = seriesToWatch[randomIndex];

    interval *= 1.2;
    clearInterval(intervalId);
    intervalId = setInterval(changeSerie, interval);
  };

  intervalId = setInterval(changeSerie, interval);
  setTimeout(() => {
    isFinal.value = true;
    clearInterval(intervalId);
  }, ANIMATION_DURATION);
};
</script>

<style lang="scss" scoped>
.result {
  display: flex;
  align-items: center;
  gap: 2rem;

  @media screen and (max-width: var(--breakpoint-tablet)) {
    flex-direction: column;
  }

  &__action {
    width: 50%;
  }
}
</style>