<template>
  <section class="my-list">
    <h2>Ma Liste</h2>

    <div v-if="! mySeries.length">
      <no-serie-disclaimer />
    </div>

    <section v-else>
      <series-filters class="series-filters" />

      <series-list :series="filteredSeries">
        <template #actions="{ serie }">
          <input type="checkbox" :checked="serie.wantToWatch" @change="toggleSerieSelection(serie)">
        </template>
      </series-list>
    </section>
  </section>
</template>

<script setup>
import NoSerieDisclaimer from "@/components/NoSerieDisclaimer.vue";
import SeriesFilters from "@/components/SeriesFilters.vue";
import SeriesList from "@/components/SeriesList.vue";

import { useSeriesStore } from "@/stores/series";
import { useFilters } from "@/use/useFilters";
import { ref } from "vue";

const seriesStore = useSeriesStore();

/**
 * Series List
 */
const mySeries = ref([]);
mySeries.value = seriesStore.series;

/**
 * Filters
 */
const { filteredSeries } = useFilters(mySeries.value);

/**
 * Selection
 */
const toggleSerieSelection = serie => seriesStore.toggleSelection(serie);
</script>

<style scoped>
h2 {
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 1vh;
}
</style>