<template>
  <section class="search">
    <h2>Rechercher</h2>
    <input v-model="query" type="search" placeholder="Rechercher une série">
    <p v-if="error">
      {{ error }}
    </p>

    <series-list :series="series">
      <template #actions="{ serie }">
        <button :disabled="isSerieInList(serie)" @click="addSerie(serie)">
          Ajouter à ma liste
        </button>
      </template>
    </series-list>
  </section>
</template>

<script setup>
import SeriesList from "@/components/SeriesList.vue";
import { useSeriesStore } from "@/stores/series";
import { fetchSeries } from "@/utils/api";
import { from, of, Subject } from "rxjs";
import { catchError, debounceTime, filter, startWith, switchMap } from "rxjs/operators";
import { onUnmounted, ref, watch } from "vue";

/**
 * Series List
 */
const series = ref([]);
const { addSerie, series: userSeries } = useSeriesStore();
const isSerieInList = serie => userSeries.some(userSerie => userSerie.id === serie.id);

/**
 * Series search
 */
const MIN_QUERY_LENGTH = 2;
const DEBOUNCE_TIME = 300;
const query = ref("");
const querySubject = new Subject();
const error = ref("");

watch(() => query.value, (newQuery) => {
  querySubject.next(newQuery);
});
const subscription = querySubject
  .pipe(
    debounceTime(DEBOUNCE_TIME),
    filter(query => query.length >= MIN_QUERY_LENGTH),
    switchMap(query => from(fetchSeries(query))),
    catchError(errorMessage => {
      error.value = errorMessage;
      return of([]);
    }),
    startWith([]),
  )
  .subscribe(fetchedSeries => {
    series.value = fetchedSeries;
  });

onUnmounted(() => {
  if (subscription) {
    subscription.unsubscribe();
  }
});
</script>

<style lang="scss" scoped>
.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
h2 {
  width: 100%;
  border-bottom: 1px solid var(--color-border);
}
input {
  padding: 1vh .5vw;
  font-size: 1.5rem;
  border: 1px solid var(--color-border);
  width: 100%;
}
</style>