<template>
  <section class="no-serie">
    <p>Aucune série marquée à regarder dans la liste</p>
    <router-link to="/my-list">
      Ajouter une série à regarder
    </router-link>
  </section>
</template>

<script setup>
import { RouterLink } from "vue-router";
</script>

<style lang="scss" scoped>
.no-serie {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-size: 1rem;
}
</style>