<template>
  <section class="no-serie">
    <p>Aucune série dans la liste</p>
    <router-link to="/search">
      Rechercher une série
    </router-link>
    <img src="https://i.gifer.com/7VE.gif">
  </section>
</template>

<script setup>
import { RouterLink } from "vue-router";
</script>

<style lang="scss" scoped>
.no-serie {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-size: 1rem;
}
</style>