<template>
  <section class="serie">
    <img
      v-if="serie.image"
      :src="serie.image.medium"
      :alt="serie.name"
      class="serie__image"
    >
    <div v-else class="serie__image--empty">
      <p>Pas d'image</p>
    </div>
    <p class="serie__infos">
      <span>{{ serie.name }}</span>
      <span v-if="serie.averageRuntime">{{ serie.averageRuntime }} min</span>
      <span v-if="serie.rating">{{ serie.rating }}</span>
      <span v-if="serie.premiered">{{ serie.premiered.getFullYear() }}</span>
      <span v-if="showSummary" v-html="serie.summary" />
    </p>
    <div class="serie__actions">
      <slot name="actions" :serie="serie" />
    </div>
  </section>
</template>

<script setup>
import { Serie } from "@/models/Serie";

defineProps({
  serie: {
    type: Serie,
    required: true,
  },
  showSummary: {
    type: Boolean,
    default: false,
  },
});
</script>

<style lang="scss" scoped>
.serie {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding: 1vh 0;

  &__infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1vh 1vw;
  }

  &__image {
    width: 100px;
    height: auto;
    margin-right: 10px;

    &--empty {
      width: 100px;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      border: 1px solid var(--color-border);
      background-color: var(--color-empty-background);
      color: var(--color-empty-text);
    }
  }

  &__actions {
    align-self: center;
    margin-left: auto;
    padding: 0 2vw;
  }
}

</style>