<template>
  <ul class="series">
    <li v-for="serie in series" :key="serie.id" class="series__item">
      <serie-display :serie="serie">
        <template #actions="{ serie: serieDisplayed }">
          <slot name="actions" :serie="serieDisplayed" />
        </template>
      </serie-display>
    </li>
  </ul>
</template>

<script setup>
import SerieDisplay from "@/components/SerieDisplay.vue";

defineProps({
  series: {
    type: Array,
    required: true,
  },
});
</script>

<style lang="scss" scoped>
.series {
  width: 100%;
  padding-left: 0;

  &__item {
    list-style: none;
    border-bottom: 1px solid var(--color-border);
  }
}
</style>