<template>
  <ul class="series-filters">
    <li>
      <input
        id="all"
        v-model="selectedFilter"
        name="duration-filter"
        type="radio"
        :value="undefined"
      >
      <label for="all">Tous</label>
    </li>
    <li v-for="durationFilter in filter.values" :key="durationFilter.id">
      <input
        :id="durationFilter.id"
        v-model="selectedFilter"
        name="duration-filter"
        type="radio"
        :value="durationFilter.bounds"
      >
      <label :for="durationFilter.id">{{ durationFilter.label }}</label>
    </li>
  </ul>
</template>

<script setup>
import { useFilters } from "@/use/useFilters";

const { filter, selectedFilter } = useFilters();
</script>

<style lang="scss" scoped>
.series-filters {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1vw;

  li {
    border: 1px solid var(--color-border);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s, color .3s;

    &:has(input:checked) {
      color: var(--color-accent);
      background-color: var(--color-background-accent);
    }

    input {
      appearance: none;
    }
    label {
      display: inline-block;
      padding: 1vh 1vw;
      cursor: pointer;
    }
  }
}
</style>