/** Buttons base */
@mixin button ($border-radius: 5px) {
  padding: 1vh 2vw;
  font-size: 1.2rem;
  border: 1px solid var(--color-border);
  border-radius: $border-radius;
  background-color: var(--color-background-accent);
  cursor: pointer;
  transition: background-color .3s;
  &:hover {
    background-color: var(--color-background-accent-dark);
  }
  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

/** Utilisation pour le bouton basique par défaut */
button {
  @include button;
}
