/* Color variables for this project */
:root {
  /** BG colors */
  --main-bg-hue: 20;
  --main-bg-saturation: 0%;
  --main-bg-lightness: 20%;
  
  --color-background: hsl(
    var(--main-bg-hue),
    var(--main-bg-saturation),
    var(--main-bg-lightness));

  /** Empty colors */
  --color-empty-background: hsl(
    var(--main-bg-hue),
    var(--main-bg-saturation),
    calc(var(--main-bg-lightness) + 10%));

  --color-empty-text: hsl(
    var(--main-bg-hue),
    var(--main-bg-saturation),
    calc(var(--main-bg-lightness) + 80%));

  /** Border colors */
  --color-border: hsl(
    var(--main-bg-hue),
    var(--main-bg-saturation),
    calc(var(--main-bg-lightness) + 20%));

  /** Accent colors */
  --accent-bg-hue: calc(var(--main-bg-hue) + 120);
  --accent-bg-saturation: calc(var(--main-bg-saturation) + 100%);
  --accent-bg-lightness: calc(var(--main-bg-lightness) + 20%);

  --color-accent: hsl(
    var(--accent-bg-hue),
    var(--accent-bg-saturation),
    var(--accent-bg-lightness));

  --color-background-accent: hsl(
    var(--accent-bg-hue),
    var(--accent-bg-saturation),
    calc(var(--accent-bg-lightness) + 50%));

  --color-background-accent-dark: hsl(
    var(--accent-bg-hue),
    var(--accent-bg-saturation),
    calc(var(--accent-bg-lightness) + 20%));

    /** Text colors */
  --color-text: hsl(
    var(--main-bg-hue),
    var(--main-bg-saturation),
    calc(var(--main-bg-lightness) + 100%));
}
