<script setup>
import { RouterLink, RouterView } from "vue-router";
</script>

<template>
  <header>
    <p class="logo">
      🍿
    </p>
    <router-link to="/">
      <p>What Should We Watch?</p>
    </router-link>

    <nav>
      <router-link to="/search">
        🔎 Rechercher
      </router-link>
      <router-link to="/my-list">
        🗒 Ma liste
      </router-link>
    </nav>
  </header>

  <main>
    <router-view />
  </main>
</template>

<style scoped>
header {
  display: flex;
  justify-content: flex-start;
  column-gap: 1vw;
  align-items: center;
  font-size: 1.5rem;
}

nav {
  margin-left: 20vw;
}

main {
  padding: 5vh 0;
}
</style>